{deps, [
    jiffy,
    meck
]}.

{erl_opts, [
    debug_info
]}.

{eunit_opts, [
    verbose
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
